BODY
{
	background-image:	url(../bg_Premium.gif);
}

BODY, TABLE, TR, TD, DIV, SPAN, FONT, INPUT, BUTTON {
	font-family:		georgia;
	font-size:			14px;
}
modified
FONT, .staticText {
	color:				#534E52;
}

.formHeading {
	font-size:			25px;
	font-weight:		bold;
	color:				#7A7478;
}

.sectionHeading {
	font-size:			16px;
	font-weight:		bold;
	color:				#736D71;
	background-color:	#999397;
	width:				100%;
	padding:			2px 2px 2px 4px;
}

HR {
	color:				#999397;
}

.button {
	background-color:	#736D71;
}

.dateButton, .customButton {
	background-color:	#736D71;
	margin-left:		2px;
	height:				23px;
}

.highlightField
{
	background-color:	#534E52;
}

.highlightField FONT
{
	color:				#999397;
}

.hoverField
{
	background-color:	#645F63;
}

.hoverField FONT
{
	color:				#AAA4A8;
}